<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playDB | Contato</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- <header>
        <div class="header-container">
            <img src="../assets/header-logo.svg" alt="logo playDB" class="header-logo">
            <nav class="nav-menu">
                <ul class="nav-menu-list">
                    <li class="nav-menu-list-item">
                        <a href="../index.html" class="list-item-link">Home</a>
                    </li>
                    <li class="nav-menu-list-item">
                        <a href="./sobre.html" class="list-item-link">Sobre</a>
                    </li>
                    <li class="nav-menu-list-item">
                        <a href="./contato.html" class="list-item-link header-menu-active">Contato</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header> -->
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>