* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.header-container {
  height: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 40px;
  background-color: #222222;
}

.header-nav-menu {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.nav-item {
  color: #FFFFFF;
  text-decoration: none;
}

body {
  background-color: rgba(240, 240, 240, 1); 
}

.content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 35px;
}

.content {
  height: 350px;
  width: 490px;
  margin: 5px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  background: white; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content .delivery {
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.delivery-text {
  position: absolute;
  font-size: 24px;
}

.red {
  color: #e30d0d;
}

.white {
  color: #FFFFFF;
}

.food-menu {
  display: flex;
  padding: 20px;

}

.top5 {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 27%;
  left: 40px;
  height: 160px;
}

.top5-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.pizza {
  height: 160px;
  display: flex;
  position: absolute;
  right: 20px;
  bottom: 27%;
}

.footer-container {
  height: 150px;
  
  background-color: #222222;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  box-sizing:border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.footer-nav-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
