* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
}

body {
    background-color: #e1e1e1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    max-height: 80px;
    background-color: #BC0000;
    padding: 5vw;
    max-height: 91.39px; 
}

.header-logo {
    width: 10vw;
    max-height: 45px;
    max-width: 45px;
}

.header-search-bar {
    width: 60vw;
    display: flex;
    align-items: center;
}

#header-search-bar-input {
    height: 30px;
    width: 100%;
    padding: 0 10px;
    border: none;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.15);
    font-size: 0.75rem;
}

#header-search-bar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: none;
    background-color: #E9D100;
}


.header-hamburger-menu {
    height: 30px;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 30px;
    background-color: #E9D100;
    transition: 300ms;
}

.bar-top {
    position: absolute;
    transform: rotate(45deg);
    transition: 300ms;
}

.bar-middle {
    opacity: 0;
}

.bar-bottom {
    position: absolute;
    transform: rotate(-45deg);
    transition: 300ms;
}

#header-menu {
    width: 100%;
    height: 35vh;
    background-color: #BC0000;
}

.header-nav-menu {
    font-size: 1.25rem;
    font-weight: 700;
    height: 100%;
    
}

.header-nav-menu ul {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #E9D100;
}

.tachado {
    text-decoration: line-through;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    row-gap: 5px;
}

#login-form input {
    height: 30px;
    width: 80vw;
    max-width: 340px;
    border: none;
    padding: 5px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.15);
}

#login-button {
    border: none;
    height: 30px;
    width: 80vw;
    max-width: 340px;
    background-color: #E9D100;
    font-weight: 700;
    color: #BC0000;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-container {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    width: 100vw;
}

.banner-img {
    width: 100%;
}

.banner-footer {   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    background-color: #BC0000;
    padding: 2.5vw; 
    column-gap: 2.5vw;
}

.banner-footer img {
    height: 125%;
}

.banner-msg {
    font-size: 0.75rem;
    font-weight: 900;
    color: #E9D100;
}

#greetings {
    padding: 0 10px;
    margin-top: 30px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.8rem;
}

.product-register-form {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    width: 80vw;
    max-width: 500px;
}

.product-register-form input {
    height: 30px;
    border: none;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.form-button-container {
    padding: 15px 0;
    display: flex;
    justify-content: end;
    column-gap: 15px;
}

.form-button {
    border: none;
    height: 30px;
    width: 35%;
    background-color: #E9D100;
    font-weight: 700;
    color: #BC0000;
    cursor: pointer;
}


#card-container {
    display: grid;
    align-content: center;
    justify-items: center;
    margin: 30px 0;
    width: 100vw;
    padding: 2.5vw;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 4px;   
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    /* height: 300px; */
    width: 100%;
    max-width: 190px;
    background-color: white;
    cursor: pointer;
    color: black;
}

.card-img-container {
    height: 60%;
    width: 100%;

}

.card-img {
    height: 100%;
    width: 100%;
}

.card-description-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card-title {
    font-size: 0.75rem;
}

.card-description-price-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    row-gap: 5px;
}

.card-payplan {
    font-size: 0.75rem;
    font-weight: 700;
    color: green;
}

.card-description {
    font-size: 0.75rem;
}


@media (min-width: 600px) {
    
    .banner-footer img {
        height: 20px;
    }
    
    .banner-msg {
        font-size: 1rem;
    }
}

@media (min-width: 820px) {
    
    .banner-footer img {
        height: 30px;
    }
    
    .banner-msg {
        font-size: 1.25rem;
    }
}

@media (min-width: 1024px) {

    .header-container {
        padding: 0 50px !important;
        max-height: 80px;
    }

    .banner-container {
        background-color: #000;
    }

    .banner-container img {
        max-height: 330px;
        object-fit: contain;
    }

    #header-menu {
        height: 300px;
    }
}