<!-- 
Front-end I - Checkpoint 2

Integrantes:
  Cauê Silveira
  Claudio Lague
  Matheus Abreu
  Rafael Varela 
 -->

<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Front-news | Home</title>
  <!-- CSS Files -->
  <link href="../css/loginpage.css" rel="stylesheet">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header></header>
  <main>
    <div class="form-container">
      <form action="../index.html">
        <a href="../index.html">
          <img src="../img/logo.svg" alt="Front news logo">
        </a>
        <div class="form-inputs-container">
          <div class="form-input">
            <label for="login" id="login-label">Usuário</label>
            <input type="text" class="input-field" id="login" name="login" placeholder="Seu usuário">
          </div>
          <div class="form-input">
            <label for="password" id="password-label">Senha</label>
            <input type="password" class="input-field" id="password" name="password" placeholder="Sua senha">
          </div>
          <button class="form-submit-button" type="submit">Entrar</button>
        </div>
      </form>
    </div>
  </main>
  <footer>
    <p>Checkpoint 2 | Desenvolvido em abril de 2022</p>
  </footer>
</body>
</html>