<!-- Front-end I | Mesa 15 | Cauê Silveira -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesa 15 | Registro</title>
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="discount-bar">
            <p class="discount-bar-text">20% de desconto para todos os cards!</p>

        </div>
        <div class="header-container">
            <img src="./img/store-logo.svg" alt="" class="header-logo">
            <h1 class="header-shop-title">Super-heroes Card Store</h1>
        </div>
    </header>
    <main>
        <div class="form-container">
            <form action="#" class="form-main">
                <h2 class="form-title"></h2>
                <div class="form-input-fields">

                </div>
                <div class="form-msg">

                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <p class="footer-rights">Todos os direitos reservados à Front-end I</p>
            <a href="" class="footer-github-link">
                <div class="footer-github-link-content">
                    <img src="./img/github.svg" alt="repostitório github" class="footer-github-logo">
                    <p class="footer-github-msg">Check out my code!</p>
                </div>
            </a>
        </div>

    </footer>  
</body>
</html>